<!--
 Requirements:

“

Create a single page app that shows two lists side by side - both are initially empty. One is a list of dogs (and traits) and the other a list of cats (and traits). Each list has an associated "select" button, when pressed will present a way to modify the contents of the list.



This list editor should be a common component that will show a list of current items on the left (the subset), and a list on the right which is a superset of all available items. The superset lists for dogs (and traits) and cats (and traits) are arbitrary for this demo, so of your choosing.



There should be buttons to:

add item from superset to the subset
remove item from the sub-set,
an ok button will confirm the changes, close the list editor and update the original list.
cancel will discard the changes.
add all from the superset,
remove all from the sub-set.
the superset should be sortable and filterable (to find items easily)
the subset should be reorderable by implementing move item up/down.

 -->
